@import 'core/variables';
.header {
    @media all and (min-width: $mediaMovil) {
        height: $movil;
        @include header();
    }
    @media all and (min-width: $mediaTablet) {
        height: $tablet;
        @include header();
    }
    @media all and (min-width: $mediaDesktop) {
        height: $desktop;
        @include header();
    }
}