/* Font */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cardsRandom {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_itemRandom {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_itemRandom {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_itemRandom {
        width: 33.3333%;
    }
}

.cardRandom {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_contentRandom {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(0, 0, 0) 40%, rgb(255, 107, 38) 100%);
}

.card_titleRandom {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_textRandom {
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}